:local {
  // .MuiGrid-grid-xs-12 {
  //   @media (max-width: 600px) {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }

  .rowdata {
    border-top: 1px solid rgb(225, 228, 232);
    border-left: 1px solid rgb(225, 228, 232);
    border-right: 1px solid rgb(225, 228, 232);
    background-color: white;
    padding-top: 8px;
    width: 100%;
    min-height: 50.2px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .rowdata:hover {
    background-color: rgb(246, 248, 250);
  }
  .textgray {
    color: rgb(88, 96, 105);
    line-height: 1.25;
    font-size: 12px;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 91%;
    margin: 0;
    padding: 0;

    .header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      :nth-child(1) {
        margin-top: -6px;
      }
    }
    a {
      color: #24292e;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-decoration: none;
      vertical-align: middle;
    }
    a:hover {
      color: rgb(3, 102, 214);
    }
    .label {
      display: flex;
      align-items: center;
      margin-left: 5px;
      padding: 5px;
      height: 20px;
      padding: 0.15em 4px;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      border-radius: 2px;
      box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
    }
    .label:hover {
      color: rgb(3, 102, 214);
    }
  }
  .Footer {
    display: flex;
    flex-wrap: wrap;
    p {
      margin: 0;
    }
  }
  .messages {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 5%;
    margin-top: 2px;
  }
  .infor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 4%;
  }
  .mess {
    color: #586069;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    svg {
      width: 15px;
      path {
        fill: #586069;
      }
    }
    span {
      font-size: 12px;
      font-weight: 600;
      display: block;
      margin-left: 3px;
      margin-top: 1px;
    }
  }
}
