:local {
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    height: 400px;
    overflow: hidden;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      h1,
      h2 {
        font-weight: 300;
      }
    }
    .img {
      height: 200px;
    }
    .img1 {
      height: 200px;
    }
  }
}
