:local {
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    .img {
      border-radius: 50%;
      height: 250px;
    }
  }
}
