.pre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #e6e7ec !important;
}
.MuiFormLabel-root.Mui-focused,
.MuiInputLabel-formControl {
  color: white !important;
}
.search .form-search input {
  color: white;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  height: 250px;
  width: 80%;
  background: #499bea;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #499bea),
    color-stop(100%, #00affe)
  );
  background: -o-linear-gradient(left, #499bea 0%, #00affe 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#499bea),
    to(#00affe)
  );
  background: linear-gradient(to right, #499bea 0%, #00affe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#499bea", endColorstr="#00affe", GradientType=1 );
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  .form-search {
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    width: 80%;
  }
}
.pre-load {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  button {
    border: 0;
    background-color: white;
    color: #00affe;
    color: #00affe;
    width: 200px;
    height: 50px;
  }
}
