:local {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
  }
  .pagin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(0, 153, 255);
  }
}
