:local {
  .footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    p {
      color: white;
    }
    svg {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
  .name {
    font-size: 18px;
    font-weight: 400;
  }
}
