:local {
  .groupCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.125;
    span {
      font-weight: 300;
      color: #6a737d;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #e1e4e8;
    margin-top: 8px;
    font-size: 14px;
    color: #586069;
    height: 70px;
    .a {
      background-color: #2cbe4e;
    }
    p {
      font-size: 14px;
      color: #586069;
      span {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
  .button {
    display: inline-block;
    padding: 4px 8px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2cbe4e;
    color: "white";
    border-radius: 3px;
  }
  .MuiGrid-grid-xs-12 {
    @media (max-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .MuiButton-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comments svg {
    position: absolute;
    top: -7px;
    width: 90%;
    left: -20px;
  }
}
